.main {
  background-color: var(--cor-0);
  padding: 80px 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 90px;
}
.main h2 {
  margin-bottom: 35px;
}
.main p {
  margin-bottom: 35px;
  max-width: 565px;
}
.scrollbutton {
  width: 60px;
  background-color: var(--cor-0);
  border: 2px solid var(--cor-geral);
  color: var(--cor-geral);
  position: fixed;
  right: 20px;
  bottom: 30px;
  display: none;
  z-index: 999;
}
.scrollbutton:hover {
  background-color: lightgray;
}

@media (max-width: 900px){
  .main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .main {
    gap: 50px;
    padding: 50px 50px;
  }
  .main-texto h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .main-texto p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  h2::before {
    left: -10px;
  }
  .scrollbutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
    right: 0;
  }
}

@media (max-width: 450px) {
  .main img {
    width: 200px;
    height: 200px;
  }
}